[Unit]
Description=Sleepi .NET Web API App

[Service]
WorkingDirectory=/var/www/Sleepi
ExecStart=/var/www/Sleepi/MrCapitalQ.Sleepi.Api
Restart=always
# Restart service after 5 seconds if the dotnet service crashes:
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=Sleepi
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:5274
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=default.target
